.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ScreenLayoutFullWidth{
	padding-left: 0px;
	padding-right: 0px;
}

.controllerImage{
  z-index:4;
  position:fixed; 
  top: 5px; 
  left: 0px; 
  width:410px; 
  height: 310px; 
  border:solid;
  border-color:black;
  background-color:#bbffdd;  
  background-size:cover; 
  object-fit: contain;
}

.statusArea{
  z-index:5;
  position:fixed; 
  top: 5px;
  left: 0px; 
  width:410px; 
  height: 50px; 
  border:none;
  border-color:black;
}

.upButton{
  z-index:5;position:fixed; top: 20px; left: 300px; width:50px; height: 50px; border:solid;border-color:black;background-color:#b0c4de;background-image:url(images/UpArrow.png); background-size:cover;
} 
.midButton{ 
  z-index:5;position:fixed; top: 85px; left: 300px; width:50px; height: 50px; border:solid;border-color:black;background-color:#b0c4de; background-image:url(images/StopImage.png); background-size:cover;
}
.downButton {
  z-index:5;position:fixed; top: 150px; left: 300px; width:50px; height: 50px; border:solid;border-color:black;background-color:#b0c4de; background-image:url(images/DownArrow.png); background-size:cover;
}
.leftButton {
  z-index:5;position:fixed; top: 85px; left: 235px; width:50px; height: 50px; border:solid;border-color:black;background-color:#b0c4de; background-image:url(images/LeftArrow.png); background-size:cover;
}
.rightButton{ 
  z-index:5;position:fixed; top: 85px; left: 365px; width:50px; height: 50px; border:solid;border-color:black;background-color:#b0c4de; background-image:url(images/RightArrow.png); background-size:cover;
}
.stopButton{ 
  z-index:5;position:fixed; top: 150px; left: 365px; width:50px; height: 50px; border:solid;border-color:black;background-color:transparent; background-image:url(images/StopImage2.png); background-size:cover;
}

.startButton{
  z-index:5;position:fixed; top: 230px; left: 70px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/GenericKey.png); background-size:cover;
}
.honkButton{ 
  z-index:5;position:fixed; top: 230px; left: 125px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/HornImage.png); background-size:cover;
}
.frontLightsButton{ 
  z-index:5;position:fixed; top: 230px; left: 100px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent; background-size:cover; object-fit:contain;
}
.recordButton{ 
  z-index:5;position:fixed; top: 230px; left: 240px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/RecordImageOff.png); background-size:cover;
}
.takePictureButton{
  z-index:5;position:fixed; top: 270px; left: 240px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/CameraImageOff.png); background-size:cover;
} 
.recordAudioButton{
  z-index:5;position:fixed; top: 270px; left: 190px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/AudioRecord.png); background-size:cover;
} 

.restartButton{
  z-index:5;position:fixed; top: 230px; left: 290px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/ResetImage2.png); background-size:cover;
} 
.shutdownButton{
  z-index:5;position:fixed; top: 230px; left: 360px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/ShutdownImage2.png); background-size:cover;
}
.emergButton{ 
  z-index:5;position:fixed; top: 230px; left: 430px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/EmergImage2.png); background-size:cover;
}
.streamButton{ 
  z-index:5;position:fixed; top: 230px; left: 430px; width:30px; height: 30px; border:none;border-color:black;background-color:transparent;background-image:url(images/StreamOn.png); background-size:cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
